{{ define "main" }}
<section class="hero">
  <div class="hero-intro">
    <img class="headshot" src="{{ "img/headshot.jpg" | relURL }}" alt="Photo of {{ .Site.Params.name }}">
    <h1>{{ .Site.Params.name }}</h1>

    <div class="bio">
      {{ .Content }}
    </div>
  </div>

</section>

<section class="cv-section">
  <h2 class="section-heading">Timeline</h2>
  <ul class="timeline-list">
    {{ range sort .Site.Data.timeline.events "date" "desc" }}
    <li>
      <span class="tl-date">({{ dateFormat "Jan 2006" (printf "%s-01" .date) }})</span>
      {{ .text }}
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
